@import url('reset.css');

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
  --white: #f9f9f9;
  --black: #333333;
  --blue: #003366;
  --yellow: #ffbe0b;
  --grey: #718f94;
}

body {
  font-family: Montserrat !important;
  background-color: var(--white) !important;
  color: var(--black) !important;
}

/* DELETE THIS LATER */
main {
  background-color: var(--white);
}

header {
  background-color: var(--blue);
  color: var(--white);
  height: 8rem;
  width: 100vw;
  position: sticky;
}

header a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: inherit;
}

/* Settings for logo and phone */
.logo-bar {
  padding: 0 1rem;
  height: 65%;
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
}

.brand-logo {
  height: 3rem;
  padding-right: 1rem;
}

.brand-name {
  font-size: 1.6rem;
}

.brand-slogan {
  margin: 0;
  font-size: 0.9rem;
}

.phone {
  font-size: 1.1rem;
  display: flex;
  text-align: right;
  padding-left: 1rem;
}

.phone a {
  padding: 0 0.5rem !important;
}

.phone-icon {
  height: 1.6rem;
}

/* Settings for nav menu */
nav {
  height: 35%;
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}

.nav-list {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover, .nav-item.active {
  background-color: var(--yellow);
  color: var(--black);
}

/* Remove hover for touch devices */

@media (hover: hover) and (pointer: fine) {
  .nav-item:hover, 
  .nav-item.active {
    background-color: var(--yellow);
    color: var(--black);
  }
}

/* Tablet settings */
@media (min-width: 577px) and (max-width: 855px) {
  header {
    height: 6.5rem;
  }

  .logo-bar {
    padding: 0 2rem;
  }

  .brand-slogan {
    display: none;
  }

  nav {
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    justify-content: center;
  }
}

/* Mobile settings */
@media (max-width: 576px) {
  header {
    height: 4rem !important;
    display: flex;
  }

  .logo-bar {
    height: 100%;
    justify-content: center;
  }

  .brand-logo {
    height: 2.5rem;
  }

  .brand-name {
    font-size: 1.4rem;
  }

  .brand-slogan, .phone {
    display: none;
  }

  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    z-index: 1;
    
  }

  .nav-list {
    max-height: 10rem;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100vw;
    background-color: var(--blue);
    z-index: 0;
  }

  main {
    position: relative;
    z-index: 2;
    transition: margin-top 0.4s ease-in-out;
}

  .nav-item {
    padding: 0.5rem 0;
  }

  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 20;
    display: flex;
    gap: 0.5rem;
    padding: 0;
  }

  .hamburger img {
    height: 3rem;
  }

  .hamburger .cross-icon {
    display: none;
  }

  .hamburger.active .hamburger-icon {
    display: none;
  }

  .hamburger.active .cross-icon {
    display: inline;
  }
}